body{
	overflow: hidden;
	word-wrap:break-word;
}


a:visited{
	color: black;
}

a:hover{
	color: purple;
}

#container{
	position: fixed;
	width:4000px;
	height:3000px;
	
	user-select: none;
}

#logo{
	position:fixed;
	top: 40px;
	right:15px;
	z-index: 200;
}

#aboutbtn{
	position: fixed;
	top: 10px;
	right: 30px;
	z-index: 201;
}

#image-container{
	position: relative;
}

#image{
	position: relative;
}

#image > img{
	height: auto;
	width: auto;
	position: absolute;
	bottom:0;
}

#overlay{
	position: absolute;
	top:0%;
	left:0%;
	height:auto;
	width: auto;
	user-select: none;

}

#marker{
	z-index: 1000;
	position:fixed;
	top: 50%;
	left: 50%;
	color: red;
	font-size: 36px;
}

polygon{
	fill: black;
	fill-opacity: 0%;
}

polygon:hover{
	fill-opacity: 8%;
}

rect{
	fill: black;
	fill-opacity: 0%;
}

rect:hover{
	fill-opacity: 5%;
}

#spin-left{
	position:fixed;
	z-index:200;
	bottom:5px;
	left:15px;
	text-decoration: none;
}

#spin-right{
	position:fixed;
	z-index:200;
	bottom:5px;
	right:15px;
	text-decoration: none;
}

#zoom-in{
	position:fixed;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;;
	color: black;
	z-index:200;
	top:15px;
	left:15px;
	font-size:24px;
	text-decoration: none;
	cursor: pointer;
}

#zoom-out{
	position:fixed;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: black;
	z-index:200;
	top:35px;
	left:15px;
	font-size:24px;
	text-decoration: none;
	cursor: pointer;
}